{% extends 'base.html.twig' %}

{% block title %}
    TP4
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TP4</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
    </nav>

    <div id="alerts">
    </div>

    <div class="container" id="container">
    </div>
{% endblock %}

{% block templates %}
    <template id="loggedOutTemplate">
        <h1 class="h3">Please log in or register</h1>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="loginInput">Username</label>
                    <input type="text" class="form-control" id="loginInput" aria-describedby="emailHelp"
                           placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Enter password">
                </div>
                <button id="submitButton" type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="loginRegister">Username</label>
                    <input type="text" class="form-control" id="loginRegister" aria-describedby="emailHelp"
                           placeholder="Enter username">
                    <div class="invalid-feedback">your username should be more than 2 character</div>
                </div>
                <div class="form-group">
                    <label for="passwordRegister">Password</label>
                    <input type="password" class="form-control" id="passwordRegister" placeholder="Enter password">
                    <div class="invalid-feedback">your password should be more than 8 character</div>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Confirm password</label>
                    <input type="password" class="form-control" id="passwordConfirm" placeholder="Enter password">
                    <div class="invalid-feedback">not the same password</div>
                </div>
                <button id="registerButton" type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </template>

    <template id="signOutBtnTemplate">
        <div class="form-inline my-2 my-lg-0 mr-5 ml-auto" id="signOutBtn">
            <button class="btn btn-danger my-2 my-sm-0">Déconnexion</button>
        </div>
    </template>

    <template id="alertTemplate">
        <div class="alert alert-{{ '{{ type }}' }} alert-dismissible fade show" role="alert">
            {{ '{{ message }}' }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </template>

    <template id="cardTemplate">
        <div class="card col-3">
            <img class="card-img-top" src="{{ '{{ image }}' }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ '{{ title }}' }}</h5>
                <p class="card-text"><small class="text-muted">from : {{ '{{ author }}' }}</small></p>
            </div>
        </div>
    </template>
{% endblock %}
